<% if current_user.email == @user.email %>
	<div class="content">
		<div class="container">
		    <div class="row profile">
				<div class="col-md-3">
					<div class="profile-sidebar">
						<!-- SIDEBAR USERPIC -->
						<h3>Your Profile</h3>
						<div class="profile-userpic">
							<center><%= image_tag @user.image_url.to_s if @user.image? %></center>
						</div>
						<!-- END SIDEBAR USERPIC -->
						<!-- SIDEBAR USER TITLE -->
						<div class="profile-usertitle">
							<div class="profile-usertitle-name">
								<%= current_user.name %>
							</div>
							<div class="profile-usertitle-job">
								Developer
							</div>
						</div>
						<!-- END SIDEBAR USER TITLE -->
						<!-- SIDEBAR BUTTONS -->
						<div class="profile-userbuttons">
							<button type="button" class="btn btn-success btn-sm">Follow</button>
							<button type="button" class="btn btn-danger btn-sm">Message</button>
						</div>
						<!-- END SIDEBAR BUTTONS -->
						<!-- SIDEBAR MENU -->
						<div class="profile-usermenu">
							<ul class="nav">
								<li class="active">
									<a href="#overview" data-toggle="tab">
									<i class="glyphicon glyphicon-home"></i>
									Profile Settings </a>
								</li>
								<li>
									<a href="#setting" data-toggle="tab">
									<i class="glyphicon glyphicon-user"></i>
									List of Programs </a>
								</li>
								<li>
									<a href="#task" data-toggle="tab">
									<i class="glyphicon glyphicon-ok"></i>
									Account Setting </a>
								</li>
								<li>
									<a href="#help" data-toggle="tab">
									<i class="glyphicon glyphicon-flag"></i>
									Help </a>
								</li>
							</ul>
						</div>
						<!-- END MENU -->
					</div>
				</div>
				<div class="container-profile">
		            <div class="tab-content">
		            	<div class="tab-pane fade" id="overview">
		            		<div class="form-basic">
						        <div class="form-title-row">
						            <h1>Update Your Profile</h1>
						        </div>
						   		<%= form_for @user, :html => {:multipart => true}  do|f| %>

						            <div class="field">    
						                <%= f.label :name %><br />
						                <%= f.text_field :name, autofocus: true,  :required => true  %>
									   	<br><br>
									</div>	
									<% if current_user.roles_mask == 4 %>
									   	<%= f.label :date_of_birth %><br />
									   	<%= f.date_select :dob, start_year: 1995 %>
									<% end %>
								   	<br>
								   	<br>

								   	<center>
							   			<%= f.label :profile_picture %><br />
							   			<%= f.file_field :image %><br>
							   		</center>

						   			<p><%= f.submit %></p>
						   		<% end %>

						   	</div>
						</div>
		            	<div class="tab-pane fade" id="setting">
		            		<div class="form-basic">
						        <div class="form-title-row">
						            <h1>List of Program</h1>
						        </div>
						        <% if current_user.roles_mask == 4 %>
									<% @program_penceramah.each do |prog| %>
										<p><%= link_to prog.tajuk, penceramah_path(prog) %> by <%= current_user.name %></p>
										<br>
									<% end %>
								<% else %>
									<% @program.each do |prog| %>
										<p><%= link_to prog.tajuk, masjid_path(prog) %> by <%= prog.npenceramah %></p>
										<br>
									<% end %>
								<% end %>
							</div>
						</div>
		            	<div class="tab-pane fade" id="task">
		            		<div class="form-basic">
						        <div class="form-title-row">
						            <h1>Edit <%= resource_name.to_s.humanize %></h1>
						        </div>
							  

							  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
							    <%= devise_error_messages! %>

							    <div class="field">
							      <%= f.label :email %><br />
							      <%= f.email_field :email, autofocus: true %>
							    </div>
							    <br>

							    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
							      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
							    <% end %>

							    <div class="field">
							      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
							      <%= f.password_field :password, autocomplete: "off" %>
							    </div>
							    <br>

							    <div class="field">
							      <%= f.label :password_confirmation %><br />
							      <%= f.password_field :password_confirmation, autocomplete: "off" %>
							    </div>
							    <br>

							    <div class="field">
							      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
							      <%= f.password_field :current_password, autocomplete: "off", :required => true  %>
							    </div>
							    <br>

							    <div class="actions">
							      <%= f.submit "Update" %>
							    </div>
							  <% end %>
							  <br>
							  <br>

							  <div class="form-title-row">
							  	<h1>Delete Account</h1>
							  </div>

							  <p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
							</div>
						</div>
		            	<div class="tab-pane fade" id="help">
					   		vcxbcvbvcbcv
						</div>															
		            </div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
<% end %>


